# Build artifacts
obj/
jackal

# System files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.swp
*~
.codeviz/
.hello.dSYM/

da
math.jackal
hello.jackal
test.jackal
server.py
temp.jackal
index.html
math.jackal

*.jl
*.jlo


# VM and Compiler Source/Headers
include/vm/
include/compiler/
src/vm/
src/compiler/


*.py
*.cpp