# Build artifacts
obj/
jackal

# System files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.swp
*~
.codeviz/

# VM directories (Ignored)
src/vm/
include/vm/

# Local test/script files (Ignored)
math.jackal
hello.jackal

*.jl
*.jlo
/.jackal

