obj/
jackal


.DS_Store
Thumbs.db


.vscode/
.idea/
*.swp
*~
.codeviz/
.hello.dSYM/

hello.jackal
test.jackal
server.py
temp.jackal
index.html


*.jl
*.jlo
*.csv


# VM and Compiler Source/Headers
include/vm/
include/compiler/
src/vm/
src/compiler/

service1.jackal
service2.jackal

.env
*.py
*.cpp
*.db

command.txt